<script setup>
import logo from '../../assets/Pictures/logo.png';
import TheloaiServices from '@/services/theloai.services.js';
import TheLoaiModel from '@/share/model/TheLoaiModel.js';

</script>

<template>
    <div class=" absolute w-full z-10">
        <div class=" h-[120px] relative  w-full">
            <div class="  w-full h-full opacity-50 absolute z-10  bg-black "></div>
            <div class="flex grid grid-cols-5  absolute items-center p-[10px] z-10">
                <img class="h-[100px] w-[100px] col-span-1 ml-[20px] " :src="logo">

                <div class="flex col-span-3 w-full h-full items-center justify-center">
                    <ul  class="flex text-white text-[18px] font-bold gap-x-[35px] ">
                        <li v-for="(listTheLoai, index) in listTheLoai" :key="index" >{{listTheLoai.TENTHELOAI}}</li>
                     
                    </ul>
                </div>

                <div class="col-span-1 text-white flex justify-end">
                   <div class="ml-[20px] px-[2px] text-[13px] bg-red-800 w-[130px] text-center font-bold rounded-l-md"> <i class="fa-solid fa-ticket"></i> Mua gói cước</div>
                    <div class="px-[2px] text-[13px] bg-red-500 w-[130px] text-center font-bold rounded-r-md">Login/Register</div>
                
                </div>
            </div>
        </div>

    </div>


</template>
<script>
export default {
    data(){
        return {
        listTheLoai :[]
        }
    },
    mounted(){
        this.fetchProducts()
    },
    methods:{
        fetchProducts() {
      const theloaiServices = new TheloaiServices();
      // Gọi API để lấy danh sách sản phẩm
      theloaiServices.getAllTheLoai()
        .then(theloai => {
          // Gán danh sách sản phẩm vào biến products
          this.listTheLoai = theloai;
          
        })
        .catch(error => {
          console.error('Error fetching product list:', error);
        });
    }

    }
};
</script>

<style scoped></style>
