<!-- Danh sách phim _ Xuấn hiện ngẩu nhiên -->

<script setup>
import TrailerServices from '@/services/trailer.services.js';
import DienvienServices from '@/services/dienvien.services.js';
</script>

<template>
    <div class="w-full bg-black px-[100px] flex ">
        <div class=" w-[800px] h-[500px]  grid grid-cols-4 gap-[2px] flex ">
            <!-- Đây là 1 item movie-->

            <div  v-for="(listPhim, index) in listPhim" :key="index" v-on:click="goToDetail(listPhim.MATRAILERPHIM)" 
                class="w-[180px] h-[300px] bg-black cursor-pointer">

                <img class="w-full h-[240px]"
                    :src="`/@fs/C:/Users/admin/Documents/GitHub/Movie_Website/Frontend/vue-app/src/assets/Pictures/${listPhim.HINH}`">


                <p class="text-white text-[15px] font-bold w-full text-center ">{{ listPhim.TENPHIMVN }}</p>
                <p class="text-white text-[15px] w-full text-center ">{{ listPhim.TENPHIMVN }}</p>

            </div>



        </div>
        <div class="  grid  pl-[30px] border-l-2 border-gray-50">
            <div v-for="(listPhim, index) in listBestPhim.slice(0, 5)" :key="index"
                class="flex bg-slate-900 w-full h-[110px] p-[5px]">
                <img class="w-[100px] h-[100px]"
                    :src="`/@fs/C:/Users/admin/Documents/GitHub/Movie_Website/Frontend/vue-app/src/assets/Pictures/${listPhim.HINH}`">
                <div class="px-[20px]">
                    <p class="text-white text-[20px] text-center">{{ listPhim.TENPHIMVN }}</p>
                    <div class="p-[5px] flex items-center">
                        <div
                            class="p-[3px] text-white w-[80px] border-white rounded-md border-2 flex justify-center items-center gap-x-[2px]">
                            <i class="fa-solid fa-heart text-red-50"></i>
                            <p class="ml-[2px]"> {{ listPhim.tuongtacphims_count }}</p>
                        </div>
                        <p class="text-white ml-[10px]">2017</p>
                    </div>
                </div>

            </div>

            <br><br>


            <p class="text-white text-[20px]  font-bold">Popular Actor</p>

            <div class="mt-[10px] grid grid-cols-1 gap-y-[5px]">
                <div v-for="(listdv, index) in listBestDV.slice(0, 5)" :key="index" class="flex p-[5px] bg-slate-900">
                    <img class="w-[70px] h-[70px] rounded-full" src="../../assets/Pictures/R.png">
                    <div class="ml-[20px]">
                        <p class="text-white text-[20px] ">{{ listdv.TENDIENVIEN }}</p>
                        <p class="text-white text-[10px] ml-auto">{{ listdv.chitietdienviens_count }} movie</p>
                    </div>
                </div>

            </div>
        </div>

    </div>
</template>

<script>
export default {
    data() {
        return {
            listPhim: [],
            listBestPhim: [],
            listBestDV: []
        };
    },
    mounted() {
        this.fetchListPhim();
        this.fetchListBestPhim();
        this.fetchListBestDienVien();

    },
    methods: {
        fetchListPhim() {
            const trailerServices = new TrailerServices();
            // Gọi API để lấy danh sách sản phẩm
            trailerServices.getAllTrailer()
                .then(phim => {
                    // Gán danh sách sản phẩm vào biến products
                    this.listPhim = phim;
                })
                .catch(error => {
                    console.error('Error fetching product list:', error);
                });
        },

        fetchListBestPhim() {
            const trailerServices = new TrailerServices();
            trailerServices.getBestMovie()
                .then(phim => {
                    this.listBestPhim = phim;
                    console.log()
                })
                .catch(error => {
                    console.error('Error fetching product list:', error);
                });
        },

        fetchListBestDienVien() {
            const dienvienServices = new DienvienServices();
            dienvienServices.getBestDienVien()
                .then(dv => {
                    this.listBestDV = dv;
                    console.log()
                })
                .catch(error => {
                    console.error('Error fetching product list:', error);
                });
        },


        goToDetail(id) {
            // Điều hướng đến trang Detail với ID tương ứng
            alert("vô")
            this.$router.push({ name: 'detail', params: { id } });
        }
    }
}

</script>


<style scoped>
/* CSS scoped cho component */
</style>