<script setup>
import Movie_List from '@/components/partials/movie_list.vue';
import TheloaiServices from '@/services/theloai.services.js';

</script>

<template>
  <div  class="home absolute w-full z-0">
    <div class="w-full h-[650px] relative">
      <img class="w-full h-full absolute z-0" src='../../assets/Pictures/d376e11685182b467209.jpg'>
      <div class="w-full h-full absolute z-10  bg-gradient-to-b   from-transparent via-transparent to-black"></div>
      <div class="w-full h-full absolute z-20 flex px-[200px] items-center">
        <div>
          <p class="text-white text-[20px]">Book by Stephen King</p>
          <p class="text-white text-[70px] font-bold">Ác quỹ trở lại</p>
          <div
            class="px-[10px] bg-black w-[150px] h-[40px] items-center flex justify-center boder rounded-lg border-slate-0 border-2">
            <p class="text-white font-bold">Add to list</p>
          </div>
        </div>
        <div class="ml-[350px]">
          <i class="icon-play fa-regular fa-circle-play text-white text-[90px] text-red"></i>
        </div>
      </div>
    </div>

    <div>
      <div class=" w-full h-[400px] relative ">
        <img class="w-full h-full absolute z-0" src="../../assets/Pictures/pexels-tima-miroshnichenko-7991180.jpg">
        <div class="w-full h-full absolute z-10  bg-gradient-to-b   via-transparent  from-black to-black"></div>
        <div class="w-full h-full absolute z-20 text-center flex items-center justify-center">
          <div>
            <p class="text-white text-[40px] font-bold"> Unlimited movies, TV shows, and more</p>
            <p class="text-white text-[30px] "> Watch anywhere. Cancel anytime.</p>
            <p class="text-white text-[15px] ">Ready to watch? Enter your email to create or restart your membership.
            </p>
            <div class=" flex gap-x-[10px] justify-center">
              <input class="  w-[250px] h-[35px] border-none" type="text" id="myInput" name="myInput"
                value="Email address">
              <button class="w-[150px] py-[5px] bg-red-500 text-white font-bold"> Get Started <i
                  class="fa-solid fa-angle-right"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="w-full bg-black px-[105px]">
      <div class="flex items-center">
        <p class="text-white text-[25px] font-bold"> <i class="fa-solid fa-arrow-trend-up"></i> Trends Now</p>
        <p class="text-white text-[17px] font-bold ml-[650px]"> <i class="fa-solid fa-fire"></i> Popular</p>
        <p class="text-white text-[17px] font-bold ml-[50px]"> <i class="fa-solid fa-plus"></i> Recently Add</p>
      </div>
      <hr class="border-white border-2 w-full">
      <br><br>
    </div>

    <Movie_List />

    <div class="w-full h-[400px] relative">
      <video class="w-full h-[400px] object-cover absolute  z-0" autoplay muted loop>
        <source src="../../assets/Pictures/7233592-uhd_2560_1080_25fps.mp4" type="video/mp4">
      </video>
      <div class="w-full h-full absolute z-10  bg-gradient-to-b   from-black via-transparent to-black"></div>
      <div class=" w-full h-full absolute z-20 flex justify-center items-center">
        <div class="text-center">
          <p class="text-white text-[25px] font-bold ">Download your shows to watch offline</p>
          <p class="text-white text-[25px] ">Save your favorites easily and always have something to watch.</p>
        </div>

      </div>
    </div>

<!--
  <div class="carousel px-[50px]">
    <div class="slides" :style="{ transform: 'translateX(' + (-currentIndex * slideWidth) + 'px)' }">
      <div v-for="(slide, index) in slides" :key="index" class="slide flex">
          <div>
            <img class="w-full h-[240px]" src ="../../assets/Pictures/Timothee-Chalamet-Dune-Movie-Poster-01-1400x2075-1-768x1138.jpg">
            <p class="text-white text-[15px] font-bold w-full text-center ">DUNE (2021)</p>
            <p class="text-white text-[15px] w-full text-center ">Cồn cát (2021)</p>
          </div>

          <div>
            <img class="w-full h-[240px]" src ="../../assets/Pictures/Timothee-Chalamet-Dune-Movie-Poster-01-1400x2075-1-768x1138.jpg">
            <p class="text-white text-[15px] font-bold w-full text-center ">DUNE (2021)</p>
            <p class="text-white text-[15px] w-full text-center ">Cồn cát (2021)</p>
          </div>



  
      </div>
    </div>
    <button @click="prev" class="prev">Previous</button>
    <button @click="next" class="next">Next</button>
  </div> -->





  </div>

</template>


<script>
export default {
 
  data() {
    return {
      slides: ['Slide 1', 'Slide 2', 'Slide 3',], // Danh sách các slide

      currentIndex: 0,
      slideWidth: 500, // Chiều rộng của mỗi slide
      autoSlideInterval: null,
      autoSlideDelay: 3000, // Độ trễ giữa các lần tự động chuyển đổi slide (ms)
      theloai: [] // Mảng sản phẩm
    };
  },
  mounted() {
    this.startAutoSlide();
    this.fetchTheLoai();
  },
  methods: {

    fetchTheLoai() {
      const theloaiServices = new TheloaiServices();
      // Gọi API để lấy danh sách sản phẩm
      theloaiServices.getAllTheLoai()
        .then(theloai => {
          // Gán danh sách sản phẩm vào biến products
          this.theloai = theloai;
          console.log('hi:' +theloai);
        })
        .catch(error => {
          console.error('Error fetching product list:', error);
        });
    }
    ,
    next() {
      this.currentIndex = (this.currentIndex + 1) % this.slides.length;
    },
    prev() {
      this.currentIndex = (this.currentIndex - 1 + this.slides.length) % this.slides.length;
    },
    startAutoSlide() {
      this.autoSlideInterval = setInterval(() => {
        this.next();
      }, this.autoSlideDelay);
    },
    pauseAutoSlide() {
      clearInterval(this.autoSlideInterval);
    },
    resumeAutoSlide() {
      this.startAutoSlide();
    },
  },
};
</script>


<style scoped>
.icon-play:hover {
  color: red;
}

.carousel {
  position: relative;
  overflow: hidden;
  width: 100%; /* Đặt chiều rộng của carousel */
  margin: 0 auto;
  
}

.slides {
  display: flex;
  transition: transform 0.3s ease;
}

.slide {
  flex: 0 0 500px; /* Đặt chiều rộng của mỗi slide */
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.next {
  right: 0;
}

.prev {
  left: 0;
}
</style>