<script setup>
import Movie_List from '@/components/partials/movie_list.vue';
import TrailerServices from '@/services/trailer.services.js';

</script>


<template class="bg-black">

    <video class="w-full h-[1000px] object-cover absolute  z-0" autoplay muted loop>
        <source src="../../assets/Pictures/2611250-uhd_3840_2160_30fps.mp4" type="video/mp4">
    </video>

    <div class="flex justify-center">
        <div class="absolute flex mt-[130px] bg-slate-900 h-[500px] w-[1000px]  z-10 p-[30px] gap-x-[50px]">
            <img class="w-[350px] h-[450px]"
                :src="`/@fs/C:/Users/admin/Documents/GitHub/Movie_Website/Frontend/vue-app/src/assets/Pictures/${this.detailMovie.HINH}`">
            <div>
                <p class="font-bold text-white text-[30px]">{{ this.detailMovie.TENPHIMVN }}</p>
                <div class="flex gap-x-[20px] items-center ">
                    <div class="flex gap-x-[5px]">
                        <i class="fa-regular fa-star text-yellow-500"></i>
                        <i class="fa-regular fa-star text-yellow-500"></i>
                        <i class="fa-regular fa-star text-yellow-500"></i>
                        <i class="fa-regular fa-star text-yellow-500"></i>
                    </div>

                    <p class="text-white">23 vote</p>
                </div>
                <p class="mt-[20px] text-white">Movie Point is clean and modern design #PSD template for #movie reviews
                    landing page #website to live preview & download click on Visit</p>
                <p class="mt-[150px] text-white text-[20px] font-bold">Cast:</p>
                <div class="flex gap-[20px] mt-[5px]">
                    <img class="w-[70px] h-[70px] rounded-full" src="../../assets/Pictures/Loki.jpg">
                    <img class="w-[70px] h-[70px] rounded-full" src="../../assets/Pictures/Loki.jpg">
                    <img class="w-[70px] h-[70px] rounded-full" src="../../assets/Pictures/Loki.jpg">
                    <img class="w-[70px] h-[70px] rounded-full" src="../../assets/Pictures/Loki.jpg">
                </div>
                <div class="flex gap-x-[50px] mt-[20px]">
                    <p class=" text-white text-[20px] font-bold"> Watch the trailer</p>
                    <div class="flex gap-x-[20px]">
                        <button v-on:click="goToTrailer(this.detailMovie.MATRAILERPHIM)" type="button" class="px-[30px] py-[5px] bg-green-500 text-white text-[20px] font-bold"> <i
                            class="fa-solid fa-play"></i> Play trailer </button>
                    <button type="button" class="px-[20px] py-[5px] bg-red-500 text-white text-[20px] font-bold"> <i
                            class="fa-solid fa-play"></i> Play now </button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>


    <div class="absolute z-20 mt-[680px] w-full px-[100px] ">
        <hr class="bg-white flex">
        <div class="flex">
            <p class="text-white text-[20px]"> <i class="fa-solid fa-film"></i> Trailer and video</p>
        </div>


    </div>




</template>

<script>
export default {
    name: 'detail',

    data() {
        return {
            idMovie: null,
            detailMovie: null
        };
    },
    created() {
        // Thực hiện các tác vụ khởi tạo dữ liệu ở đây
        this.loadDetailMovie();
        // hoặc thực hiện các tác vụ khác...
    },
    mounted() {
    },
    methods: {
        loadDetailMovie() {
            this.idMovie = this.$route.params.id;
            const trailerServices = new TrailerServices();
            trailerServices.getDetailMovie(this.idMovie)
                .then(phim => {
                    this.detailMovie = phim;
                })
                .catch(error => {
                    console.error('Error fetching product list:', error);
                });
        },
        goToTrailer(id) {
            alert(id)
            this.$router.push({ name: 'trailer', params: { id } });
        }

    }


};
</script>

<style scoped>
/* CSS cho component Hehe */
</style>