<script setup>
import Movie_List from '@/components/partials/movie_list.vue';
import TrailerServices from '@/services/trailer.services.js';

</script>

<template>
    <div class="bg-black h-[1000px] ">
        <div class=" absolute mt-[120px] w-full">

            <div class="flex justify-end px-[175px]">
                <hr class="border-whire w-full">
            </div>
            <div class="flex justify-end px-[175px]">

                <p class=" text-white text-[25px] font-bold text-red-500 "><i class="fa-solid fa-user-astronaut"></i> Cosmo Movie</p>
            </div>

            <div class="w-full flex px-[175px] ">

                <div class="text-white w-[500px]">
                    <div>
                        <p class="text-[30px] font-bold">TRAILER: <span>{{  this.detailMovie.TENPHIMVN  }}</span></p>
                    </div>
                    <p>Thời lượng: {{this.detailMovie.THOIGIANPHIM}} phút</p>
                    <p>La Ái Liên, con gái phú thương thiên phú hơn người, vốn được thừa kế gia nghiệp, sống cuộc sống
                        ổn định, nhưng lại bị ép vào bước đường cùng vì một tai bay vạ gió. Sau khi thoát chết, cô không
                        gục ngã, mà vực dậy được nhờ phẩm chất bền bỉ của mình, chèo chống gia nghiệp, hướng về tương
                        lai nhờ niềm tin vững chắc.</p>
                        <br>
                    <p>Lượt thích: 100 <i class="fa-solid fa-heart"></i></p>
                    <p class="text-[10px]"><i class="fa-regular fa-calendar-days"></i> 10/01/2023</p>
                    <div class="flex   mt-[18px]">
                        <button class="px-[50px] py-[3px] bg-red-500 font-bold ">
                            Watching now
                        </button>
                    </div>

                </div>

                <video class="w-[500px] h-[300px] object-cover   z-0" controls autoplay muted loop>
                    <source :src="`https://d23ekr66ttoap9.cloudfront.net/${this.detailMovie.VIDEO}`" type="video/mp4">
                </video>
            </div>
            <br><br>
            <br>
            <div class="w-full flex px-[175px] ">
                <p class="text-[20px] font-bold text-white">Recommend for you</p>
                
            </div>


        </div>
    </div>

</template>

<script>
export default {
    data(){
        return {
            idMovie: null,
            detailMovie: null
        };
    },
    created(){
        this.loadDetailMovie();
    },
    methods:{
        loadDetailMovie() {
            this.idMovie = this.$route.params.id;
            const trailerServices = new TrailerServices();
            trailerServices.getDetailMovie(this.idMovie)
                .then(phim => {
                    this.detailMovie = phim;
                })
                .catch(error => {
                    console.error('Error fetching product list:', error);
                });
        },
    }
}

</script>