<script setup>


</script>

<template >
  
  <div id="app" class="relative">
    <Header />
    <router-view></router-view>

  </div>
   

 

  
</template>
<script>
import Header from './components/partials/header.vue'; 

export default {
  components: {
    Header
  }
};

</script>

<style scoped>
/* CSS scoped cho component */
</style>
